@using GigHub.Models
@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var gig in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@gig.DateTime.ToString("MMM")</h3>
                    <p>@gig.DateTime.ToString("d ")</p>
                    <p>@gig.Artist.Name</p>
                    <p>@gig.Genre.Name</p>
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance"> Going ?</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    @*<script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId : button.attr("data-gig-id")})
                    .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                    .fail(function () {
                    alert("Something failed!");
                });
            });
        });
    </script>*@
}
